body{
    background: darkolivegreen;
}
/* Styling for the header */
header{
    text-align: center;
    margin: auto;
    background: whitesmoke;
    width: 100%;
}

/* Styling for the section */
section{
    text-align: left;
    margin: auto;
    width: 50%;
    h1{
        text-align: center;
        margin: auto;
        background: whitesmoke;
    }
    p{
        text-align: left;
        background: whitesmoke;
    }
    article{
        text-align: left;
        margin: auto;
        background: whitesmoke;
    }
}
nav ul{
    text-align: left;
}
/* Styling for the aside */
aside{
    text-align: center;
    margin: auto;
    p{
        background: whitesmoke;
    }
}
/* Styling for the footer */
footer{
    article {
        background: whitesmoke;
    }
    /*TODO Styling for the horizontal buttons */
}

/* Styling for the vertical buttons */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: gray;
    color: white;
}


